.lw_button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 2.5rem;
  background-color: var(--pink);
  margin-top: 0.75rem;
}
.lw_wrapper[data-place="header"] {
  display: none;
}
.lw_panel {
  border: none;
  background-color: transparent;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.lw_panel::backdrop {
  backdrop-filter: blur(3px) brightness(50%);
}
.lw_panel_content {
  background-color: var(--white);

  padding-block: 1.75rem;
  padding-inline: 1rem;
}
.lw_panel .modal_lw {
  background-color: var(--white);
  padding: 1.75rem 1rem;
  border-radius: 2rem;
  position: relative;
}
@media (width >= 48rem) {
  .lw_panel[data-place="mobile-menu"] {
    display: none;
  }
  .lw_panel {
    max-width: 48rem;
    padding: 4rem 3rem;
  }
  .lw_panel_content {
    padding: 1.75rem;
    border-radius: 2.5rem;
  }
  .lw_wrapper[data-place="header"] {
    display: block;
    position: fixed;
    z-index: 99;
    top: 1.375rem;
    right: 2.5rem;
  }
  .lw_button[data-place="header"] {
    margin-top: 0;
    max-width: 6.875rem;
  }
  .lw_button[data-place="header"]:hover {
    background-color: var(--pink-light);
  }
  .lw_button[data-place="header"]:active {
    background-color: var(--pink-dark);
  }

  .ic_form_modal_btn {
    max-width: fit-content;
  }
}
@media (width >= 90rem) {
  .lw_button[data-place="header"] {
    max-width: 8rem;
  }
  .lw_wrapper[data-place="header"] {
    top: 40px;
  }
}
