.cc_content_box {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.cc_title_box {
  display: flex;
  flex-direction: column;

  gap: 1.75rem;
}
.cc_text_box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.cc_text_soc_media_box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cc_soc_media_row {
  display: flex;
  gap: 0.75rem;
}
.cc_upwork_text {
  margin-bottom: 0.75rem;
}
.cc_calendly_box {
  border-radius: 1.5rem;
  padding: 1.25rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.cc_calendly__foto_box_blue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  background-color: var(--blue);
}
.cc_calendly__foto_box_white {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 100%;
  background-color: var(--white);
}
.cc_calendly__foto {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}
.cc_calendly_text_box {
  display: flex;
  gap: 1.125rem;
}
.cc_calendly_text_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cc_calendly_text_icon {
  width: 2.75rem;
  height: 2.75rem;
}
.cc_email_icon {
  fill: var(--peach);
}
@media (min-width: 48rem) {
  .cc_content_box {
    gap: 2.25rem;
  }
  .cc_text_box {
    width: 20.3125rem;
  }
  .cc_text_soc_media_box {
    gap: 0.75rem;
  }
  .cc_calendly_box {
    flex-direction: row;
    gap: 1.5rem;
    padding: 1.5rem;
    width: fit-content;
  }
  .cc_calendly__foto_box_blue {
    width: 5.75rem;
    height: 5.75rem;
  }
  .cc_calendly__foto {
    width: 5rem;
    height: 5rem;
  }
  .cc_calendly__foto_box_white {
    width: 5.375rem;
    height: 5.375rem;
  }
  .cc_calendly_text_box {
    gap: 4.25rem;
  }
  .cc_calendly_text_icon {
    width: 4rem;
    height: 4rem;
    align-self: center;
  }
}
