.carousel-root {
  width: 100%;
  margin: auto;
}

.carousel-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.carousel-scroller {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.carousel-scroller {
  /* display: flex; */
  /* gap: var(--slides-gap); */
  /* padding-left: var(--container-padding); */
  /* padding-right: var(--container-padding); */
  /* scroll-padding-left: var(--container-padding);
  scroll-padding-right: var(--container-padding);
  overflow-x: auto;
} */
}
.carousel-scroller::-webkit-scrollbar {
  display: none;
}

.carousel-slide {
  scroll-snap-align: start;
  transition: transform 0.5s ease-in-out;
  flex: 0 0
    calc(
      (100% / var(--slides-per-view)) -
        (var(--slides-gap) * ((var(--slides-per-view) - 1) / var(--slides-per-view)))
    );
  /* flex: 0 0 calc(100% / var(--slides-per-view)); */
  margin-right: var(--slides-gap);
}

.slide-inner {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}
.carousel-stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.carousel-helper {
  /* padding-right: 1rem;
  padding-left: 1rem; */
}
@media (min-width: 48rem) {
  .carousel-helper {
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
  }
  .carousel-slide {
    scroll-snap-align: start;
    transition: transform 0.5s ease-in-out;
    flex: 0 0
      calc(
        ((100% - (2 * var(--container-padding))) / var(--slides-per-view)) -
          (var(--slides-gap) * ((var(--slides-per-view) - 1) / var(--slides-per-view)))
      );
    /* flex: 0 0 calc(100% / var(--slides-per-view)); */
    margin-right: var(--slides-gap);
  }
}
@media (min-width: 90rem) {
}

/* Buttons */
.inf_btn_controls {
  display: none;
}

/* dots */
.inf_carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.inf_dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  border: 1px solid #0070f3;
  cursor: pointer;
  transition: background-color 0.3s;
}

.inf_dot.active {
  background: #0070f3;
}
@media (min-width: 768px) {
  .inf_btn_controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .inf_btn_controls button {
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .inf_btn_controls button:hover {
    background-color: #005bb5;
  }
  .inf_carousel-dots {
    display: none;
  }
}

@media (min-width: 1440px) {
  .inf_btn_controls {
    display: none;
  }
}
