.inf_carousel-container {
  overflow: hidden;
  width: 100%;

  box-sizing: border-box;
}

.inf_carousel-track {
  display: flex;
  will-change: transform;
  margin-bottom: 32px;
  /* gap: var(--inf-gap); */
  /* gap: 10px; */
}

.inf_carousel-slide {
  flex: 0 0 calc(100% - (2 * var(--inf-container-padding)) / var(--slides-inf-per-view));

  /* max-width: 100%; */
  /* height: 180px;
  background: #ddd;
  border: 2px solid #aaa; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* font-size: 2rem; */
  user-select: none;
  touch-action: pan-y;
}

/* dots */
.inf_carousel-dots {
  display: flex;
  justify-content: center;

  gap: 4px;
}

.inf_dot {
  border-radius: 100%;
  width: 6px;
  height: 6px;
  background-color: var(--blue-light);
  transition:
    width 0.3s ease,
    border-radius 0.3s ease;
  transform-origin: right center;
}

.inf_dot.active {
  border-radius: 12px;
  width: 45px;
  /* scale: 45px 6px; */
  height: 6px;
  background-color: var(--blue);
}

/* Buttons */
.inf_btn_controls {
  display: none;
}

@media (min-width: 768px) {
  .inf_carousel-track {
    display: flex;
    will-change: transform;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 0px;

    /* gap: 10px; */
  }
  .inf_carousel-slide {
    /* flex: 0 0 calc((100% - (1 * var(--inf-container-padding))) / var(--slides-inf-per-view)); */
    flex: 0 0
      calc(
        ((100% - (1 * var(--inf-container-padding))) / var(--slides-inf-per-view)) -
          (var(--inf-gap) * ((var(--slides-inf-per-view) - 1) / var(--slides-inf-per-view)))
      );
    /* max-width: calc(100% / var(--slides-inf-per-view)); */
    margin-right: var(--inf-gap);
  }
  .inf_carousel-dots {
    display: none;
  }
  .inf_btn_controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .inf_btn_controls button {
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .inf_btn_controls button:hover {
    background-color: #005bb5;
  }
}

@media (min-width: 1440px) {
  .inf_btn_controls {
    display: none;
  }
  .inf_carousel-slide {
    flex: 0 0
      calc(
        (100% / var(--slides-inf-per-view)) -
          (var(--inf-gap) * ((var(--slides-inf-per-view) - 1) / var(--slides-inf-per-view)))
      );
  }
}
