.carousel-container {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  will-change: transform;
}

.carousel-slide {
  flex: 0 0 100%;
  max-width: 100%;
  height: 180px;
  background: #ddd;
  border: 2px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  user-select: none;
  touch-action: pan-y;
}

@media (min-width: 640px) {
  .carousel-slide {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
/* dots */
.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  border: 1px solid #0070f3;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background: #0070f3;
}

/* Buttons */
.controls {
  display: none;
}

@media (min-width: 768px) {
  .carousel-dots {
    display: none;
  }
  .controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .controls button {
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .controls button:hover {
    background-color: #005bb5;
  }
}
