.c_carousel_wrapper {
  overflow: hidden;
  position: relative;
}
.c_carousel-container {
  width: 350px;
  overflow: hidden;
  touch-action: pan-y;
  user-select: none;

  white-space: nowrap;
  height: 16rem;
  /* width: 100%; */
}
@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * var(--inf-count) * var(--inf-card-width) * 2));
  }
}
@keyframes scrollRight {
  from {
    transform: translateX(calc(-1 * var(--inf-count) * var(--inf-card-width) * 2));
  }
  to {
    transform: translateX(0);
  }
}
.scrollLeft {
  animation: scrollLeft var(--inf-time) linear infinite;
  will-change: transform;
}
.scrollRight {
  animation: scrollRight var(--inf-time) linear infinite;
}
.c_carousel-container:hover .c_carousel-track {
  animation-play-state: paused;
}
.c_carousel-track {
  position: absolute;

  top: 0;
  display: flex;
  /* transition: transform 0.5s ease-in-out; */
  /* animation: 15s slide infinite linear;
  will-change: transform; */
  /* min-width: min-content; */
}
.c_carousel-item {
  width: var(--inf-card-width); /* 64 * 4.6875 = 300px */
  flex-shrink: 0;
  flex-grow: 0;
  height: 16rem; /* 64 * 0.25rem = 16rem = 256px */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb; /* gray-200 */
  font-size: 1.875rem; /* text-3xl ≈ 30px */
  border: 1px dotted #a13de0;
  margin-right: var(--inf-card-gap);
}
/* .carousel-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  display: flex;
  scrollbar-width: none;
}
.carousel-container::-webkit-scrollbar {
  display: none;
}
.card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  border: 2px solid #0070f3;
  border-radius: 12px;
  background: #e0f0ff;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 150px;
  margin-right: 10px;
  width: 100%;
  box-sizing: border-box;
  touch-action: pan-x;
}

@media (min-width: 768px) {
  .card {
    width: calc((100% / 2) - 10px);
  }
}
@media (max-width: 767px) {
  .card {
    width: 100%;
  }
} */
