.c_carousel-container {
  /* width: 300px;
  overflow: hidden;

  padding: 20px 0;
  white-space: nowrap;
  position: relative; */

  overflow: hidden;
  padding: 10px 0;
  background: white;
  /* white-space: nowrap; */
  position: relative;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.c_carousel-track {
  animation: 5s slide infinite linear;
  /* width: 100%; */
  display: flex;
}
.c_carousel-container:hover .c_carousel-track {
  animation-play-state: paused;
}
.c_carousel-item {
  /* flex-shrink: 0;
  width: 300px;
  height: 200px;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem; */
  width: 300px;
  height: 150px;
  /* margin: 0 40px; */
  border: 1px solid #3de045;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 20px;
}
