.section {
  padding-block: 5rem;
}
.subtitle_project {
  margin-bottom: 2rem;
}

.list_projects {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  margin-inline: auto;
  max-width: 43rem;
  overflow: hidden;
}
.list_projects li {
  max-width: 41rem;
}

.image_project {
  margin-inline: auto;
  margin-bottom: 0.75rem;
  aspect-ratio: 2.05;
  border-radius: 1.5rem;
  object-fit: cover;
}
.list_technologies {
  margin-top: 0.75rem;
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}
.list_technologies li {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  border: solid 1px;
  border-radius: 0.75rem;
  max-width: 41.75rem;
}
.list_technologies .item_features:nth-child(5n + 1) {
  border-color: var(--pink);
  background-color: var(--pink-light);
}
.list_technologies .item_features:nth-child(5n + 2) {
  border-color: var(--blue);
  background-color: var(--blue-light);
}
.list_technologies .item_features:nth-child(5n + 3) {
  border-color: var(--yellow);
  background-color: var(--yellow-light);
}
.list_technologies .item_features:nth-child(5n + 4) {
  border-color: var(--green);
  background-color: var(--green-light);
}
.list_technologies .item_features:nth-child(5n + 5) {
  border-color: var(--blue);
  background-color: var(--blue-light);
}

.projects_caru {
  max-width: 100%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.projects_caru_viewport {
  overflow: hidden;
}
.projects_caru_container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.projects_caru_slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
@media (width >= 64rem) {
  .projects_caru {
    --slide-size: 50%;
  }
}

@media (width >= 90rem) {
  .subtitle_project {
    margin-bottom: 1.5rem;
  }
  .list_projects {
    max-width: 100%;
    margin-top: 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2.75rem;
    column-gap: 1.25rem;
    justify-content: space-between;
  }
}
.carousel_projects_top {
  margin-bottom: 4rem;
}
