@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 200 500;
  src:
    url("./fonts/PlusJakartaSans-Variable.woff2") format("woff2"),
    url("./fonts/PlusJakartaSans-Variable.woff") format("woff"),
    url("./fonts/PlusJakartaSans-Variable.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200 500;
  src:
    url("./fonts/manrope/Manrope-Variable.woff2") format("woff2"),
    url("./fonts/manrope/Manrope-Variable.woff") format("woff"),
    url("./fonts/manrope/Manrope-Variable.ttf") format("truetype");
}
