.tm_container {
  margin-top: auto;
}

.tm_container[data-place="header"] {
  display: none;
}

@media (width >= 48rem) {
  .tm_container[data-place="header"] {
    margin-top: 0;
    display: flex;
    gap: 1.25rem;
  }
  .tm_container[data-place="header"] > button {
    margin: 0;
  }
  .tm_container[data-place="mob-menu"] {
    display: none;
  }
}
