.ic_content_box {
  border-radius: 2rem;
  padding: 1.5rem;
  background-color: var(--white);
}
.ic_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ic_form_fieldset {
  border: none;
}

.ic_form_add_block {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  width: 100%;
}

.ic_form_fieldset legend {
  margin-bottom: 1.5rem;
}
/* .ic_form_options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
} */

.ic_form_add_wrp {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.ic_form_inputs_block {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}
/* .ic_form_input {
  outline: none;
  border: 1px solid var(--grey-light);
  border-radius: 40px;
  padding: 12px 16px;
  width: 100%;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
}
.ic_form_input::placeholder {
  opacity: 1;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--grey-dark);
} */
.ic_form_textarea {
  border: 1px solid var(--grey-light);
  border-radius: 12px;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
  resize: none;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
  outline: none;

  /* resize: vertical; */
}
.ic_form_textarea::placeholder {
  opacity: 1;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--grey-dark);
}
.ic_form_btn {
  border-radius: 40px;
  padding: 12px 16px;
  background: var(--pink);
  width: 100%;
  border: none;
}
.border-red {
  border: 1px solid var(--red);
}
@media (min-width: 48rem) {
  .ic_content_box {
    border-radius: 40px;
    padding: 28px;
  }
  .ic_form {
    gap: 40px;
  }

  .ic_form_fieldset legend {
    margin-bottom: 20px;
  }
  /* .ic_form_option {
    padding: 12px 16px;
    border-radius: 40px;
  } */

  .ic_form_add_wrp {
    gap: 8px;
  }
  .ic_form_add_block {
    gap: 0.5rem;
  }
  .ic_form_inputs_block {
    flex-direction: row;
  }
  .ic_form_inputs_block > div {
    flex: 1;
  }
  .ic_form_btn {
    margin-left: auto;
    width: max-content;
    transition: background-color 0.2s ease-in-out;
  }
  .ic_form_btn:hover {
    background-color: var(--pink-light);
  }
  .ic_form_btn:active {
    background-color: var(--pink-dark);
  }
  /* .ic_form_input:hover, */
  .ic_form_textarea:hover {
    border-color: var(--grey-dark); /* active */
  }
  /* .ic_form_input:active, */
  .ic_form_textarea:active {
    border-color: var(--grey); /* pressed */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
  /* .ic_form_input.filled, */
  .ic_form_textarea.filled {
    border-color: var(--grey); /* filled  */
  }
}

@media (min-width: 90rem) {
  .ic_content_box {
    border-radius: 48px;
    padding: 36px;
  }
  .ic_form {
    gap: 24px;
  }

  /* .ic_form_options {
    gap: 12px;
  } */

  .ic_form_fieldset legend {
    margin-bottom: 2rem;
  }

  .ic_form_add_wrp {
    gap: 12px;
  }
  .ic_form_add_block {
    gap: 0.75rem;
  }

  /* .ic_form_input::placeholder {
    font-size: 18px;
  } */
  .ic_form_textarea::placeholder {
    font-size: 18px;
  }
}
