.ic_content_box {
  border-radius: 2rem;
  padding: 1.5rem;
  background-color: var(--white);
}

@media (min-width: 48rem) {
  .ic_content_box {
    border-radius: 40px;
    padding: 28px;
  }
}

@media (min-width: 90rem) {
  .ic_content_box {
    border-radius: 48px;
    padding: 36px;
  }
}
