.ic_content_box {
  border-radius: 2rem;
  padding: 1.5rem;
  background-color: var(--white);
}
.ic_form {
  display: flex;
  flex-direction: column;
}
.visually-hidden {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}
.ic_form_fieldset_wrp {
  margin-bottom: 0.75rem;
}
.ic_form_fieldset_wrp:not(:last-of-type) {
  margin-bottom: 1.5rem;
}
.ic_form_fieldset {
  /* margin-bottom: 0.75rem; */

  border: none;
}
/* .ic_form_fieldset:not(:last-of-type) {
  margin-bottom: 1.5rem;
} */
.ic_form_block {
  /* display: flex;
  flex-direction: column;
  gap: 0.75rem; */

  width: 100%;
}

.ic_form_fieldset legend {
  margin-bottom: 1.5rem;
}
.ic_form_options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.ic_form_option {
  cursor: pointer;
  border: 1px solid var(--grey-light);
  border-radius: 40px;
  padding: 8px 12px;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.ic_form_error {
  margin-top: 0.5rem;
  display: flex;
  gap: 4px;
  align-items: center;
}
.ic_form_label {
  display: inline-block;
}
.ic_form_imput_block {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  margin-bottom: 0.75rem;
}
.ic_form_imput {
  border: 1px solid var(--grey-light);
  border-radius: 40px;
  padding: 12px 16px;
  width: 100%;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
}
.ic_form_imput::placeholder {
  opacity: 1;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--grey-dark);
}
.ic_form_textarea {
  border: 1px solid var(--grey-light);
  border-radius: 12px;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
  resize: none;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;

  /* resize: vertical; */
}
.ic_form_textarea::placeholder {
  opacity: 1;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--grey-dark);
}
.ic_form_btn {
  border-radius: 40px;
  padding: 12px 16px;
  background: var(--pink);
  width: 100%;
}
.border-red {
  border: 1px solid var(--red);
}
@media (min-width: 48rem) {
  .ic_content_box {
    border-radius: 40px;
    padding: 28px;
  }
  /* .ic_form_fieldset {
    margin-bottom: 8px;
  }
  .ic_form_fieldset:not(:last-of-type) {
    margin-bottom: 40px;
  } */
  .ic_form_fieldset_wrp {
    margin-bottom: 8px;
  }
  .ic_form_fieldset_wrp:not(:last-of-type) {
    margin-bottom: 40px;
  }
  .ic_form_fieldset legend {
    margin-bottom: 20px;
  }
  .ic_form_option {
    padding: 12px 16px;
    border-radius: 40px;
  }
  .ic_form_imput_block {
    flex-direction: row;

    margin-bottom: 8px;
  }
  .ic_form_imput_block > div {
    flex: 1;
  }
  .ic_form_btn {
    margin-left: auto;
    width: max-content;
    transition: background-color 0.2s ease-in-out;
  }
  .ic_form_btn:hover {
    background-color: var(--pink-light);
  }
  .ic_form_btn:active {
    background-color: var(--pink-dark);
  }
  .ic_form_imput:hover,
  .ic_form_textarea:hover {
    border-color: var(--grey-dark); /* active */
  }
  .ic_form_imput:active,
  .ic_form_textarea:active {
    border-color: var(--grey); /* pressed */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .ic_form_imput.filled,
  .ic_form_textarea.filled {
    border-color: var(--grey); /* filled  */
  }
}

@media (min-width: 90rem) {
  .ic_content_box {
    border-radius: 48px;
    padding: 36px;
  }

  .ic_form_options {
    gap: 12px;
  }
  /* .ic_form_fieldset {
    margin-bottom: 0.75rem;

    border: none;
  } */
  /* .ic_form_fieldset:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }*/

  .ic_form_fieldset legend {
    margin-bottom: 2rem;
  }
  .ic_form_fieldset_wrp {
    margin-bottom: 0.75rem;
  }
  .ic_form_fieldset_wrp:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
  .ic_form_imput_block {
    margin-bottom: 12px;
  }
  .ic_form_imput::placeholder {
    font-size: 18px;
  }
  .ic_form_textarea::placeholder {
    font-size: 18px;
  }
}

/* .budget-fieldset {
  border: none;
  padding: 0;
  margin: 0 0 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.budget-option {
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  border: 2px solid #ccc;
  border-radius: 6px;
  background-color: white;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.budget-option:hover {
  border-color: #888;
  background-color: #f9f9f9;
}

.budget-option.selected {
  background-color: #0070f3;
  color: white;
  border-color: #0070f3;
}

.budget-label {
  display: inline-block;
} */

/* 

.service-option:hover {
  border-color: #888;
  background-color: #f9f9f9;
}

.service-option.selected {
  background-color: #0070f3;
  color: white;
  border-color: #0070f3;
}

 */
