.header {
  padding-block: 1rem;
  background-color: var(--background-page);
}
.header > div {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (width >= 48rem) {
  .header > div {
    align-items: center;
  }
}
@media (width > 90rem) {
  .header {
    padding-block: 1.5rem;
  }
}
