.team_hero_section {
  width: 100%;
  padding-top: 140px;
  padding-bottom: 164px;
}
.team_hero_title {
  text-align: center;
}
.team_hero_line1 {
  position: relative;
  display: inline-block;
}
.team_hero_line1_icon {
  position: absolute;
  top: 9px;
  left: 4px;
  width: 24px;
  height: 24px;
}
.team_hero_line2 {
  display: flex;
  gap: 4px;
  align-items: flex-end;
  justify-content: center;
}
.team_hero_line2_icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-bottom: 3px;
}
