.title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-block: 0.5rem;
}
.title img {
  width: 2rem;
}
@media (width >= 48rem) {
  .title {
    gap: 0.625rem;
  }
  .title img {
    width: 4rem;
  }
}
@media (width >= 90rem) {
  .title img {
    width: 6.25rem;
  }
}
