.ic_form_options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.ic_form_option {
  cursor: pointer;
  border: 1px solid var(--grey-light);
  border-radius: 40px;
  padding: 8px 12px;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.ic_form_option.selected {
  background-color: var(--blue);
}
.visually-hidden {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}
.ic_form_label {
  display: inline-block;
}
@media (min-width: 48rem) {
  .ic_form_option {
    padding: 12px 16px;
    border-radius: 40px;
  }
  .ic_form_option:hover {
    background-color: var(--blue-light);
  }
  .ic_form_option.selected {
    background-color: var(--blue);
  }
}

@media (min-width: 90rem) {
  .ic_form_options {
    gap: 12px;
  }
}
