.cl_btn {
  width: 100%;
  border: solid 1px var(--blue-light);
  border-radius: 2.5rem;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-transform: capitalize;
}
.cl_popover {
  position: relative;
}
.cl_popover[data-place="header"] {
  display: none;
}

.cl_btn_t {
  display: none;
}
.cl_list {
  width: 100%;
  padding: 0.25rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 4px 0 rgba(189, 186, 186, 0.25);
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.cl_item {
  width: 100%;
}

.cl_link {
  display: flex;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  padding-block: 12px;
  text-transform: capitalize;
}
.cl_link[data-active="true"] {
  background-color: var(--blue-light);
}
.cl_btn svg {
  transition: all 0.3s ease-in-out;
}
.cl_btn[data-open="true"] svg {
  transform: rotateX(0.5turn);
}
.cl_panel {
  position: absolute;
  top: -340%;
  left: 0;
  width: 100%;
  max-width: 14.875rem;
  border-radius: 1.5rem;
  transform: scale(0);
}
.cl_panel {
  animation: popover-shrink 0s ease-in-out forwards;
}
.cl_panel[data-open="true"] {
  animation: popover-grow 0.3s ease-in-out forwards;
}
@keyframes popover-shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes popover-grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media (width >= 48rem) {
  .cl_btn {
    justify-content: space-around;
    width: 6.25rem;
    text-transform: uppercase;
  }
  .cl_btn_m {
    display: none;
  }
  .cl_btn_t {
    display: block;
  }
  .cl_link:hover {
    background-color: var(--blue-light);
  }
  .cl_link:active {
    background-color: var(--blue);
  }
  .cl_panel {
    top: 120%;
    left: -45%;
    /* transform: translateX(50%); */
    width: 11.375rem;
  }
  .cl_btn svg {
    transform: rotateX(0.5turn);
  }
  .cl_btn[data-open="true"] svg {
    transform: rotateX(0turn);
  }

  .cl_popover[data-place="header"] {
    display: block;
    margin-right: 7.6rem;
  }
}
@media (width >= 90rem) {
  .cl_popover[data-place="header"] {
    margin-right: 8.5rem;
  }
}
